</main>

<footer>
  <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <p>Copyright © <%= new Date().getFullYear() %></p>
</footer>
</body>

</html>